<html>
    {% load static %}

    <body>
        <div class='nav-bar'>
         {% if user %}
         <p>hello, {{ user }}</p>
         <a href="{% url 'logout' %}">logout</a>  
         <a href="{% url 'account' %}">account</a> 
         {% endif %}
         {% if not user %}
         <a href="{% url 'signup' %}">signup</a> <br><br>
         <a href="{% url 'signin' %}">login</a>
         {% endif %}
        </div>
        
        <h1>SCHEMAS</h1>
        <ul>
        {% for schema in schemas %}
        <img src='{{ schema.image.url }}'></img>
        <li><h2><a href="{% url 'overview' schema.pk %}">{{ schema.name }}</a></h2></li>
        {% endfor %}
        </ul>
    </body>
</html>