<html>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;    
            }
            </style>
    </head>
    <body>
        <h1>Hello {{ user }}</h1>
        <h2 style="color: red;" >your progress report of {{ schema }} schema</h2>
        <table style="width:auto;">
            <tr><th>Question</th>
            <th>Status</th></tr>
        {% for question in questions %}
            <tr><td> {{ question.question }} </td>
            <td>{{ question.status }}</td></tr>
        {% endfor %}
        </table>
    </body>
</html>