<div class="container">
  <h2>Sign up</h2>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <label for="username">username</label><br>
      <input id="username" type="text" placeholder="username" name="username"><br><br>
      <label for="email">email</label><br>
      <input id ="email" type="email" placeholder="email" name="email"><br><br>
      <label for ="password">password</label><br>
      <input id="password" type="password" placeholder="password" name="password"><br><br>
      <button type="submit">Sign up</button>
    </form>
  </div>
  <br>
  <h2>already a member <a href="{% url 'signin' %}">login</a></h2>
